[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

"discord.py" = "==1.2.5"

"colorama" = "==0.4.1"

"redis" = "==3.3.11"

"requests" = "==2.20.1"

[requires]
python_version = "3.7.6"